/*nav bar tag */
#navbar {
    background-color: dimgray;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

nav ul {
    display: inline;
}

    nav ul li {
        list-style: none;
        display: inline;
        text-size-adjust: inherit;
    }

        nav ul li a {
            padding: 24px 14px;
            color: #000000;
        }

nav .dropdown-toggle a {
    display: block;
    position: absolute;
}

/*edit id = "text"*/
#text {
  /*background-image: url("https://i.pinimg.com/originals/cf/e7/a7/cfe7a732683b64d3c7eb86df36136521.jpg");*/
  background-color: grey;
  background-size: cover;
  color: white;
}

#fade-image{
  background-image:url('./images/boop.jpg');
  background-size: auto;
  background-position:center;
  display: flex;
  justify-content: flex-start;
}

#top-text{
    margin: 10px;
    display: flex;
    justify-content:center;
    text-shadow:3px 3px #D3D3D3;
}

/*----- list class -----*/

/*home page */
.main-body{
  /* created with: https://mycolor.space/gradient?ori=to+left+bottom&hex=%23264B82&hex2=%23CB10CE&sub=1 */
  background-image: linear-gradient(to left bottom, #264b82, #3b4fa1, #634dba, #9540ca, #cb10ce);
  background-size: auto;
}
.home-text{
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  color: #FFFFFF;
  margin: 250px;
  margin-bottom: 327px;
}
.gif{
    align: center /* find way to keep orientation of gif consistent with window size*/
}


/*aboutme page top bar  */
.name{
    padding-top:15px;
    float: left;
}

.links{
    padding-bottom:20px;
    padding-top:20px;
    padding-right: 10px;
    float: right;
}

.dropdown-item{
    cursor: pointer;
}

/* content of aboutme*/

    /*hover overlay*/
    .image{
        position:relative;
        width:40%;
    }
    .selfie{
        display:block;
        width:100%;
        height:auto;
        clip-path:circle();
    }

    .overlay{
        background-color: lightgrey;
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        height:100%;
        width:100%;
        clip-path:circle();
        opacity:0;
        transition: 500ms ease-in-out;
    }

    .image:hover .overlay{
        opacity: 1;
    }

    .overlay-text {
        color: black;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
